<!doctype html>
<html lang="en">
  <head>
  	<title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row no-gutters">
							<div class="col-lg-8 col-md-7 order-md-last d-flex align-items-stretch">
								<div class="contact-wrap w-100 p-md-5 p-4">
									
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            
				      		</div>
									<form action="\predict" method="post" class="contactForm">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Day</label>
													<input type="text" class="form-control" name="Day" id="Day" placeholder="Day">
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Month</label>
													<input type="email" class="form-control" name="Month" id="Month" placeholder="Month">
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="subject">Source</label><br>
													   <select class="custom-select" name="Source" id="Source" required="required">
                                <option value="Delhi">Delhi</option>
                                <option value="Kolkata">Kolkata</option>
                                <option value="Mumbai">Mumbai</option>
                                <option value="Chennai">Chennai</option>
                            </select>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="#">Destination</label>
													<br>
													<select class="custom-select" name="Destination" id="Destination" required="required">
                                <option value="Cochin">Cochin</option>
                                <option value="Delhi">Delhi</option>
                                <option value="New Delhi">New Delhi</option>
                                <option value="Hyderabad">Hyderabad</option>
                                <option value="Kolkata">Kolkata</option>
                            </select>
												</div>
											</div>


												<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="#">Stopage</label>
													<br>
													 <select class="custom-select" name="stops" required="required">
                                <option value="0">Non-Stop</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>
												</div>
											</div>


												<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="#">Which Airline you want to travel?</label>
													<br>
													  <select class="custom-select" name="airline" id="airline" required="required">
                                <option value="Jet Airways">Jet Airways</option>
                                <option value="IndiGo">IndiGo</option>
                                <option value="Air India">Air India</option>
                                <option value="Multiple carriers">Multiple carriers</option>
                                <option value="SpiceJet">SpiceJet</option>
                                <option value="Vistara">Vistara</option>
                                <option value="Air Asia">Air Asia</option>
                                <option value="GoAir">GoAir</option>
                                <option value="Multiple carriers Premium economy">Multiple carriers Premium economy
                                </option>
                                <option value="Jet Airways Business">Jet Airways Business</option>
                                <option value="Vistara Premium economy">Vistara Premium economy</option>
                                <option value="Trujet">Trujet</option>
                            </select>
												</div>
											</div>

												<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="#">Additional Info</label>
													<br>
													  <select  class="custom-select" name="additional_info" id="additional_info" required="required">
                                <option value="No_Info">No_Info</option>
                                <option value="In_flight_meal_not_included">In_flight_meal_not_included</option>
                                <option value=" No_check_in_baggage_included">No_check-in_baggage_included</option>
                                <option value="One_Short_layover">One_Short_layover</option>
                                <option value="One_Long_layover">One_Long_layover</option>
                                <option value="Change_airports">Change_airports</option>
                                <option value="Business_class">Business_class</option>
                                <option value="Red_eye_flight">Red_eye_flight</option>
                                <option value="Two_Long_layover">Two_Long_layover</option>
                            </select>
												</div>
											</div>




											<div class="col-md-12">
												<div class="form-group">
													<input type="submit" value="Predict" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>

									<h3>{{ prediction_text }}</h3>
								</div>
							</div>
							<div class="col-lg-4 col-md-5 d-flex align-items-stretch">
								<div class="info-wrap bg-primary w-100 p-md-5 p-4">
									<h3>Airline Tickets</h3>
									<p class="mb-4">By Ayoub OUMALEK</p>
				        	
				        	
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
  <script src="js/popper.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.validate.min.js"></script>
  <script src="js/main.js"></script>

	</body>
</html>

